<div>

    <form ng-submit="createCountry()">
        <fieldset>
            <legend>Create Country</legend>
            <table>
                <tr>
                    <td><label>Country</label></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Enter country name" ng-model="country.country" required/></td>
                </tr>
                <tr>
                    <td><label>Areas</label></td>
                </tr>
                <tr ng-repeat="area in country.areas">
                    <td>
                        <span>{{area}}</span>
                        <div class="icon-minus-sign" ng-click="removeArea(area)"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" ng-model="newArea" placeholder="Enter area"/>
                        <div class="icon-plus-sign" ng-click="addArea()"></div>
                    </td>
                </tr>
                <tr>
                   <td>
                       <button type="submit" class="btn btn-primary">Create Country</button>
                   </td>
                </tr>
            </table>
        </fieldset>
    </form>

</div>