<div>

    <form ng-submit="createCountry(country, area)">
        <fieldset>
            <legend>Create Country</legend>
            <label>Country</label>
            <input type="text" placeholder="Enter country name" ng-model="country.country" required />
            <label>Area</label>
            <input type="text" ng-model="area" placeholder="Enter area" required/>
            <br>
            <button type="submit" class="btn btn-primary">Create Country</button>
        </fieldset>
    </form>

</div>