<div>

    <form ng-submit="updateCountry()">
        <fieldset>
            <legend>Update Country</legend>
            <table>
                <tr>
                    <td><label>Country</label></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="country.country" required/></td>
                </tr>
                <tr>
                    <td><label>Areas</label></td>
                </tr>
                <tr ng-repeat="area in country.areas">
                    <td>
                        <div class="input-append">
                            <input type="text" disabled placeholder="{{area}}" />
                            <span class="add-on" style="cursor:pointer;" ng-click="removeArea($index)"><i class="icon-minus-sign"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Add new area</label></td>
                </tr>
                <tr>
                    <td>
                        <div class="input-append">
                            <input type="text" ng-model="newArea" placeholder="Enter area"/>
                            <span class="add-on" style="cursor:pointer;" ng-click="addArea()"><i class="icon-plus-sign"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary">Update Country</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>

</div>