<div>

    <form ng-submit="update(country)">
        <fieldset>
            <legend>Update Country</legend>
            <label>Country</label>
            <input type="text" ng-model="country.country" required />
            <label>Areas</label>
            <table>
                  <tr ng-repeat="area in country.areas">
                      <td><input type="text" ng-model="area" required /></td>
                  </tr>
            </table>
            <br>
            <label>Add a new area</label>
            <input type="text" ng-model="addedArea" />
            <button type="button" class="btn" ng-click="addArea(addedArea)">Add area</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="update(country)">Create Country</button>
        </fieldset>
    </form>

</div>