<!DOCTYPE html>
<html lang="da" id="ng-app" ng-app="TravelToursAdmin">
<head>
    <meta charset="utf-8">
    <title>TravelTours - Admin</title>

    <!-- twitter bootstrap -->
    <link href="resources/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap/css/bootstrap-responsive.css"
          rel="stylesheet">

    <!-- Angular, Angular-resources and Angular UI bootstrap -->
    <script src="resources/lib/angular-1.0.6.js"></script>
    <script src="resources/lib/angular-resource-1.0.6.js"></script>
    <script src="resources/lib/ui-bootstrap-tpls-0.2.0.js"></script>

    <!-- Application specific javascript modules -->
    <script src="app/traveltours/util.js"></script>
    <script src="app/traveltours/serivce/countryService.js"></script>
    <script src="app/traveltours/traveltours.js"></script>
    <script src="app/traveltours/model/model.js"></script>
    <script src="app/traveltours/admin/country/country.js"></script>

</head>
<body ng-controller="traveltours.BaseController">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid" style="margin-top: 100px;">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Travel</li>
                    <li><a href="#/admin/travel/create">Create</a></li>                    
                    <li><a href="#/admin/travel/list">List</a></li>
                    <li class="nav-header">Vacancy</li>
                    <li><a href="#/admin/vacancy/create">Create</a></li>                    
                    <li><a href="#/admin/vacancy/list">List</a></li>
                    <li class="nav-header">Country</li>
                    <li ng-class="{active: selected == 'countryCreate'}" ><a href="#/admin/country/create" ng-click="selected = 'countryCreate'">Create</a></li>                    
                    <li ng-class="{active: selected == 'countryList'}"><a href="#/admin/country/list" ng-click="selected = 'countryList'">List</a></li>
                    <li class="nav-header">Transport</li>
                    <li><a href="#/admin/transport/create">Create</a></li>
                    <li><a href="#/admin/transport/list">List</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9" ng-show="alerts.length > 0">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <!--/span-->
        <div class="span9" ng-view>

        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

</body>
</html>